<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.idraccontroller"
    android:versionCode="18"
    android:versionName="1.10.2">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="35" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="iDRAC 控制器"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".SensorActivity"
            android:exported="false" />

        <activity
            android:name=".HardwareInfoActivity"
            android:exported="false" />

        <activity
            android:name=".SshTerminalActivity"
            android:exported="false" />

    </application>

</manifest>
